on init
    loglevel 9
    export PHONE_STORAGE /mnt/emmc
    mkdir /mnt/emmc 0000 system system
    symlink /mnt/emmc /emmc
    mkdir /datadata 0771 system system

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    # Tweak background writeout
    write /proc/sys/vm/dirty_writeback_centisecs 2000
    write /proc/sys/vm/dirty_expire_centisecs 1000
    write /proc/sys/vm/dirty_ratio 90

    setprop ro.build.product aries
    setprop ro.product.device aries
    setprop ro.radio.noril yes

# fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

# wi-fi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp

# phone
    setprop ro.telephony.call_ring.multiple 0

# change permission for uart_switch
    chown radio radio /sys/class/sec/uart_switch/UART_SEL/value
    chown compass root /sys/class/input/input3/distortion
    chown compass root /sys/class/input/input3/offsets
    chown compass root /sys/class/input/input3/shape
    chown compass root /sys/class/input/input3/threshold
    chmod 660 /sys/class/sec/uart_switch/UART_SEL/value

# change permission for compass
    chown compass input /sys/class/input/input3/offsets
    chown compass input /sys/class/input/input3/shape
    chown compass input /sys/class/input/input3/distortion
    chown compass input /sys/class/input/input3/threshold

on fs
    mkdir /radio 0775 radio radio
    mount yaffs2 mtd@radio /radio
    mount ext4 /dev/block/mmcblk0p2 /data wait nosuid nodev noatime nodiratime noauto_da_alloc
    mount yaffs2 mtd@datadata /datadata

    chown radio radio /radio/modem.bin

# We chown/chmod /efs because mount is run as root + defaults
    mkdir /efs 0775 radio radio
    mount yaffs2 /dev/block/mtdblock4 /efs
    chown radio radio /efs
    chmod 770 /efs/bluetooth
    chmod 770 /efs/imei

# permissions for bluetooth.
    chown bluetooth bluetooth /dev/s3c2410_serial0
    chmod 0600 /dev/s3c2410_serial0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type

# Permissions for System Server and daemons.
    chown system system /sys/class/backlight/s5p_bl/brightness

# +STE GPS Daemon
# create data/gps for GPS demon
# GPS_CHIPSET_STE_GNS7560
    chown gps gps /dev/s3c2410_serial1
    chmod 660 /dev/s3c2410_serial1
    mkdir /data/gps 771 gps system
    chown gps system /data/gps
    chown gps gps /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 664 /sys/class/sec/gps/GPS_PWR_EN/value
    chown gps gps /sys/class/sec/gps/GPS_nRST/value
    chmod 664 /sys/class/sec/gps/GPS_nRST/value
# not sure if these are needed or not, but it cant hurt...
    chown gps gps /data/CGPS_LOG.txt
    chmod 0770 /data/CGPS_LOG.txt
    chown gps gps /data/EVENT_LOG.txt
    chmod 0770 /data/EVENT_LOG.txt
    chown gps gps /data/GNB_DEBUG.txt
    chmod 0770 /data/GNB_DEBUG.txt
    chown gps gps /data/GPS_NV_Data.bin
    chmod 0770 /data/GPS_NV_Data.bin
    chown gps gps /data/GPS_UTC_Calib.bin
    chmod 0770 /data/GPS_UTC_Calib.bin
    chown gps gps /data/HALGPS_conf.cfg
    chmod 0770 /data/HALGPS_conf.cfg
    chown gps gps /data/NAV_DEBUG.txt
    chmod 0770 /data/NAV_DEBUG.txt
    chown gps gps /data/NMEA_DEBUG.txt
    chmod 0770 /data/NMEA_DEBUG.txt

    symlink /datadata /data/data
on post-fs

    # remove /sbin/sh so that "adb install" can work properly
    exec /sbin/setupenv.sh

    # We chown/chmod /data and /datadata again so because mount is run as root + defaults
    chown system system /data
    chmod 0771 /data
    chown system system /datadata
    chmod 0771 /datadata

    #symlinks for samsung RIL
    symlink /radio/modem.bin /dev/block/bml12

# allow system to modify cpufreq control files
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

# 3D init
service pvrsrvinit /system/vendor/bin/pvrsrvinit
    user root
    group root
    oneshot

# +STE GPS Daemon
# GPS_CHIPSET_STE_GNS7560 (and GPS_CHIPSET_STE_CG2900 ?)
service gpsd /system/vendor/bin/gpsd
     socket gps seqpacket 0660 gps system
     user gps
     group gps system inet
     oneshot

service wpa_supplicant /system/bin/wpa_supplicant -Dwext -ieth0 -c/data/misc/wifi/wpa_supplicant.conf
    socket wpa_eth0 dgram 0660 wifi wifi
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    disabled
    oneshot

service bdaddr /system/bin/bdaddr_read
    user root
    disabled
    oneshot

on property:init.svc.bootanim=running
    start bdaddr

service hciattach /system/bin/brcm_patchram_plus --enable_hci --enable_lpm \
    --baudrate 3000000 --patchram /vendor/firmware/bcm4329.hcd /dev/s3c2410_serial0
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

# bugreport is triggered by holding down volume down, volume up and power
service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    disabled
    oneshot
    keycodes 114 115 116

service orientationd /system/vendor/bin/orientationd
    user compass
    group system input

service geomagneticd /system/vendor/bin/geomagneticd
    user compass
    group system input

service tvout /system/bin/tvoutserver
    user system
    group graphics

service tvouthack /system/bin/tvouthack
    user system
    group graphics
    disabled

## Manual download of long term orbit data
service gpslto /system/bin/get-gps-lto
    user system
    #group net_raw system
    group gps system
    oneshot
    disabled
	
## Try updating LTO whenever gpsd or wifi comes up
on property:init.svc.wpa_supplicant=running
    start gpslto
on property:init.svc.gpsd=running
    start gpslto
