[receive]
	requireContributorAgreement = true
[access "refs/*"]
	owner = group Administrators
	label-Verified = -1..+1 group SGS Administrators
	label-Verified = -1..+1 group Vibrant Team
	submit = group SGS Administrators
	submit = group Vibrant Team
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group SGS Administrators
	label-Code-Review = -2..+2 group Vibrant Team
	create = group SGS Administrators
	create = group Vibrant Team
[project]
[submit]
	action = rebase if necessary
