#
# init rc file for GPS: this is here to allow for devices
# to provide their own GPS initialization code without
# conflicting with the default GPS init. (i.e. Vibrant)
#

# ST-Ericsson GNS7560
service gpsd /system/vendor/bin/gpsd
    class core
    user root
    group system inet
    oneshot

on post-fs-data
    mkdir /data/gps
    chown system /data/gps
    chmod 771 /data/gps
