#
# init rc file for GPS: this is here to allow for devices
# to provide their own GPS initialization code without
# conflicting with the default GPS init. (i.e. Vibrant)
#

# ST-Ericsson GNS7560
service gpsd /system/vendor/bin/gpsd
    class late_start
    user gps
    group system inet
    oneshot

on post-fs-data
    mkdir /data/gps 775 gps system
    chown gps system /data/gps
    chown gps gps /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 664 /sys/class/sec/gps/GPS_PWR_EN/value
    chown gps gps /sys/class/sec/gps/GPS_nRST/value
    chmod 664 /sys/class/sec/gps/GPS_nRST/value
